@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página foi feita para testar o conceito de comunicação com a OpenAI.</p>
<p>Autor: Márcio Rogério Nizzola</p>
<p>Saiba mais no <a href="https://marcionizzola.medium.com/">blog</a></p>
